<div class="background">
  <div class="cv-container p-5">
    <div class="image">
      <img src="/CV-images/photo.jpg" alt="Photo" />
    </div>

    <div class="contact">
      <h1 class="text-center p-3">Mustafa Erkam Arafat</h1>
      <div class="contact-info my-0">
        <ul>
          <li>Email: <a>m.erkam.arafat&#64;gmail.com</a></li>
          <li>Phone: +43 678 781 99 10</li>
          <li>Address: Nußdorfer Straße 68, 1090 Wien</li>
          <li>Date of Birth: 18 October 1996</li>
        </ul>
      </div>
    </div>

    <div class="education list">
      <h3>Education</h3>
      <ul>
        <li>
          <strong>CodeFactory</strong>
          <p>Full Stack Web Developer</p>
          <p>May 2024 – ongoing (30.08.2024)</p>
        </li>
        <li>
          <strong>University of Vienna</strong>
          <p>English and American Studies</p>
          <p>Oct 2017 – July 2020</p>
        </li>
        <li>
          <strong>Sprachzentrum Uni Wien</strong>
          <p>
            German Preparatory Course <br />
            (German Language Certificate)
          </p>

          <p>Oct 2015 – Jan 2017</p>
        </li>
        <li>
          <strong>Hacettepe University</strong>
          <p>
            Translation and Interpretation <br />
            (Transfer to Uni Wien)
          </p>
          <p>Oct 2014 – May 2015</p>
        </li>
      </ul>
    </div>

    <div class="skills text-end">
      <h3>Skills & Traits</h3>
      <ul>
        <li>
          <strong>Languages</strong>
          <ul>
            <li>GER (C1), ENG (C2), TUR (L1), ITA (A2)</li>
          </ul>
        </li>
        <br />
        <li>
          <strong>Programming Languages</strong>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>PHP (Symfony PHP framework)</li>
          </ul>
        </li>
        <br />
        <li>
          <strong>Frameworks & Libraries</strong>
          <ul>
            <li>Angular</li>
            <li>Bootstrap</li>
          </ul>
        </li>
        <br />
        <li>
          <strong>Additional Knowledge</strong>
          <ul>
            <li>AJAX</li>
            <li>SQL</li>
            <li>SCRUM & Requirements Engineering</li>
            <li>Software Testing</li>
            <li>Project Documentation</li>
            <li>Git (GitHub)</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="career text-center">
      <h3>Professional Experience</h3>
      <ul>
        <li>
          <strong>Cyberport SE</strong>
          <p>Sales Consultant</p>
          <p>Dec 2022 – Aug 2023</p>
          <p>
            Responsibilities: Customer orientation, complaint handling, order
            creation, active customer approach, product presentation, upselling,
            cross-selling, SAP (cash handling)
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
