<div class="all-nav">
  <div
    class="head text-center d-flex justify-content-center align-items-center"
  >
    <i class="fa-solid fa-shop"></i>
    <p>FAMAZON</p>
  </div>
  <div class="nav d-flex justify-content-center text-center">
    <a routerLink="/exam3">Home</a>
    <p>|</p>
    <a routerLink="/ex3products">Products</a>
    <p>|</p>
    <a routerLink="/ex3cart">Cart</a>
    <p>|</p>
    <a routerLink="/ex3about">About</a>
    <p>|</p>
    <a routerLink="/ex3contact">Contact</a>
  </div>
</div>

<body>
  <div class="container">
    <div class="content">
      <div class="card text-bg-dark mb-5">
        <img src="./ex3-images/watermelon.png" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <h1 class="ctxt card-title text-dark">Welcome to Famazon</h1>
          <p class="ctxt card-text text-light bg-dark">
            Number 1. Leading Online shopping platform with honesty and
            integrity to serve you.
          </p>

          <p class="ctxt card-text">
            <small
              >Don't be a sad watermelon, shop with us and keep on being a sad
              person with less money and more things.</small
            >
          </p>
        </div>
      </div>
      <div class="crd card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="./ex3-images/flowers.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title p-2">Best Shopping Trends in 2024</h5>
              <p class="card-text p-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                deserunt, nulla assumenda tempore ipsa voluptatibus quis magni
                ut sapiente maiores.
              </p>
              <p class="card-text p-2">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="crd card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="./ex3-images/milkyway.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title p-2">Finance Tips (for broke people)</h5>
              <p class="card-text p-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                corrupti laudantium perferendis quos necessitatibus
                reprehenderit.
              </p>
              <p class="card-text p-2">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="crd card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="./ex3-images/books.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title p-2">
                Black Friday - Capitalism's favourite trick!
              </h5>
              <p class="card-text p-2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure
                laboriosam ratione animi optio accusamus, placeat quas ipsa
                nobis corrupti.
              </p>
              <p class="card-text p-2">
                <small class="text-body-secondary"
                  >Last updated 3 mins ago</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="crd card">
        <div class="card-header p-2">Featured</div>
        <div class="card-body p-2">
          <h5 class="card-title p-2">Do you want to work for us?</h5>
          <p class="card-text p-2">
            Working for Famazon has incredible benefits! We offer 15 weeks of
            Vacation yearly, with home-office options.
          </p>
          <a class="btn btn-primary p-2">Click Here</a>
        </div>
      </div>
    </div>
  </div>
</body>
<footer class="fttr text-center text-white">
  <div class="p-2">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <section>
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2"><strong>Sign up for our newsletter</strong></p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-light mb-4">Subscribe</button>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <p>© 2024 Copyright: Mustafa Erkam Arafat</p>
  </div>
</footer>
