<body class="about">
  <img
    src="https://cdn.pixabay.com/photo/2020/06/30/15/03/table-5356682_1280.jpg"
    alt=""
  />
  <div class="abt">
    <header>
      <h1><a routerLink="/exam1">Food Blog</a></h1>
      <h4><a routerLink="/ex1recipeofthemonth">Recipe of the Month</a></h4>
      <h4><a>Recipes</a></h4>
      <h4>
        <a><i class="fa-solid fa-magnifying-glass"></i></a>
      </h4>
    </header>
    <nav class="navtop">
      <p><a>Pasta</a></p>
      <p><a>Taco</a></p>
      <p><a>Pizza</a></p>
      <p><a>Dessert</a></p>
      <p><a>Breakfast</a></p>
      <p><a>Lunch</a></p>
      <p><a>Dinner</a></p>
    </nav>

    <main>
      <h1>ABOUT</h1>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident
        sed at ad? Quas ullam porro labore delectus, necessitatibus nesciunt
        harum illo suscipit voluptas vel accusantium exercitationem fugiat
        provident iure odit facilis voluptatum voluptates totam. Id sunt
        incidunt neque veritatis laboriosam accusantium totam quae dolore?
        Dignissimos obcaecati voluptatum dolorem repellat veritatis fuga quo
        aperiam libero accusantium facilis. Aliquid ratione distinctio quod
        excepturi? Culpa mollitia vel reiciendis dolor ad molestias eligendi
        voluptates, ut tempore harum nemo quasi nisi voluptas aut ullam officiis
        sapiente minus error hic! Aspernatur facilis eligendi debitis
        temporibus, dolores quas aliquid, aperiam expedita velit repellat
        recusandae nisi saepe, dolorum doloribus non nemo? Adipisci aut expedita
        tempora dicta dolor praesentium, delectus excepturi iure, ipsa ipsam
        culpa sit, molestiae soluta maxime dignissimos quia dolores beatae?
        Saepe, voluptate nisi tenetur, impedit suscipit nam quidem non fugit
        consectetur enim a quo ullam itaque dolores magnam voluptates ipsum.
        Delectus quos vitae sed sapiente consequuntur dignissimos ab laboriosam
        fuga illo, quibusdam necessitatibus. Velit saepe maiores inventore
        aliquam sed dicta laudantium corporis beatae? Saepe, aliquid quos at
        natus dolor optio, perspiciatis labore quidem, cumque non dolorem fugiat
        quam quod porro. Delectus, voluptates. Amet, voluptate autem illum esse
        quasi natus, eum dolor nobis magni, corrupti blanditiis obcaecati
        consequatur cumque voluptatem delectus suscipit repellendus pariatur
        nulla quia. Maxime inventore odit id ex, blanditiis exercitationem hic
        saepe autem. Accusamus voluptate iste suscipit quos molestiae
        necessitatibus explicabo natus blanditiis sint corporis voluptatibus
        autem quia repellendus nihil hic odit porro beatae animi nesciunt
        similique aliquam, at placeat a! Ex natus nam placeat eum dolorem
        quibusdam, architecto vero ipsum! Temporibus, a? Totam mollitia
        cupiditate sequi unde magni esse provident minus, possimus recusandae
        aliquid facilis, quae neque necessitatibus assumenda sint quasi, odit
        quidem architecto magnam nihil debitis nam voluptate amet ipsam.
        Incidunt fuga quaerat provident quia aspernatur quasi corrupti
        reiciendis illo enim.
      </article>
    </main>
  </div>
  <footer>
    <nav class="navbot">
      <p><a href="about.html">About</a></p>
      <p class="glyph">|</p>
      <p><a>Recipes</a></p>
      <p class="glyph">|</p>
      <p><a>FAQ</a></p>
      <p class="glyph">|</p>
      <p><a href="https://codefactory.wien/en/contact-en/">Contact Us</a></p>
    </nav>
    <section class="SM">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </section>
    <p>&copy; Mustafa Erkam Arafat - CodeFactory2024</p>
  </footer>
</body>
