<body>
  <header>
    <h1><a routerLink="/exam1">Food Blog</a></h1>
    <h4><a routerLink="/ex1recipeofthemonth">Recipe of the Month</a></h4>
    <h4><a>Recipes</a></h4>
    <h4>
      <a><i class="fa-solid fa-magnifying-glass"></i></a>
    </h4>
  </header>
  <nav class="navtop">
    <p><a>Pasta</a></p>
    <p><a>Taco</a></p>
    <p><a>Pizza</a></p>
    <p><a>Dessert</a></p>
    <p><a>Breakfast</a></p>
    <p><a>Lunch</a></p>
    <p><a>Dinner</a></p>
  </nav>

  <main class="content2">
    <div class="hero">
      <img
        src="https://img.chefkoch-cdn.de/rezepte/2342211372782366/bilder/1503408/crop-960x540/bulgur-salat-kisir.jpg"
        alt=""
      />
    </div>
    <div class="dif">Difficulty: <i>Very Easy</i></div>
    <div class="rat">Rating: &#9733; &#9733; &#9733; &#9733; &#9733; (749)</div>
    <div class="ing">
      <ul>
        <li>6 cups of bulgur (meatball bulgur)</li>
        <li>5 cups of hot water</li>
        <li>1 tablespoon Salça(heaped pepper paste)</li>
        <li>1 tablespoon tomato paste</li>
        <li>
          Tomato (summer tomatoes can be added by chopping them into small
          pieces)
        </li>
        <li>1 bunch of parsley</li>
        <li>6 sprigs of green onion</li>
        <li>6-7 leaves of fresh mint</li>
        <li>7-8 leaves of lettuce</li>
        <li>1 teaspoon of black pepper</li>
        <li>1 teaspoon salt</li>
        <li>1 teaspoon cumin (optional)</li>
        <li>juice of 1 lemon</li>
        <li>1/2 cup of pomegranate syrup</li>
        <li>1/2 cup of olive oil</li>
      </ul>
    </div>
    <div class="dir">
      <ol>
        <hr />
        <li>Place 6 tea glasses of bulgur into a deep bowl.</li>
        <hr />
        <li>
          Add 1 heaping tablespoon of pepper paste and mix it into the bulgur
          with the back of the spoon.
        </li>
        <hr />
        <li>Add 1 tablespoon of tomato paste and mix in the same way.</li>
        <hr />
        <li>
          Pour about 5 cups of hot water on it, cover it with a lid and leave it
          to soften.
        </li>
        <hr />
        <li>
          Meanwhile, greens are chopped. Chopped parsley, green onion, fresh
          mint and lettuce are added to the bulghur that has drained and
          softened.
        </li>
        <hr />
        <li>
          After mixing the shortbread, add 1 teaspoon of black pepper, 1
          teaspoon of salt, half a tea glass of pomegranate syrup, juice of 1
          lemon, some cumin if available, and half a tea glass of olive oil and
          mix well.
        </li>
        <hr />
        <li>
          It is placed on a sterile serving plate. You can decorate with
          pickles, cucumbers and tomatoes if desired. Enjoy your meal.
        </li>
        <hr />
      </ol>
    </div>
    <div class="dishinfo">
      <h2>History of <i>Kısır</i></h2>
      <article>
        Kısır dish is a type of salad or appetizer commonly consumed in Middle
        Eastern and Anatolian cuisine. The basic ingredients of Kisir are
        bulgur, tomato, cucumber, onion, parsley and lemon juice. In some
        regions, olives, walnuts or chickpeas are also added to the curd.
        <br />
        <br />

        Although the origin of the dish is not known for certain, it is thought
        to have been consumed in Middle Eastern and Anatolian cuisine for
        centuries. According to some sources, infertility first appeared in
        Mesopotamia. According to other sources, it emerged in barren Anatolia
        and later spread to the Middle East. <br />
        <br />

        There are also various rumors about the emergence of sterile food.
        According to a rumor, it was created by villagers living in barren
        Anatolia. Villagers would make kefir by mixing ingredients such as
        bulgur, tomato, cucumber, onion and lemon juice to make a simple and
        satisfying meal. <br />
        <br />

        Kısır dish has an important place in Middle Eastern and Anatolian
        cuisine today. It is consumed as a refreshing and satisfying meal,
        especially in the summer months. <br />
        <br />

        To prepare the meal, bulgur is first washed and drained. Then, tomato,
        cucumber, onion and parsley are finely chopped. All ingredients are
        mixed in a bowl and lemon juice is added. Kısır is served by seasoning
        with salt and black pepper. <br />
        <br />

        Kısır dish can be prepared in different ways. For example, it can be
        made more satisfying by adding olives, walnuts or chickpeas to the soup.
        Additionally, yoghurt can be added to the curd.
      </article>
    </div>
    <div class="comment">
      <label for="comment"
        ><h3>Did you like it? Leave a comment below!</h3></label
      >
      <br />
      <div class="textarea">
        <textarea
          name="comment"
          id="comment"
          placeholder="Tell us your opinion..."
        ></textarea>
      </div>
      <div class="sub2"><button disabled type="submit">Submit</button></div>
    </div>
    <div class="newsletter">
      <hr />
      <div class="form">
        <form action="none">
          <h3>Tasty? Sign up to our newsletter for more!</h3>
          <div class="collabel">
            <label for="firstname">First Name:</label>

            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="First Name"
            />
          </div>
          <br />
          <div class="collabel">
            <label for="lastname">Last Name:</label>

            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Last Name"
            />
          </div>
          <br />
          <div class="collabel">
            <label for="email">Email:</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="example@address.com"
            />
          </div>
          <br />
          <button disabled type="submit">Submit</button>
          <br /><br />
        </form>
      </div>
      <hr />
    </div>
  </main>

  <footer>
    <nav class="navbot">
      <p><a routerLink="/ex1about">About</a></p>
      <p class="glyph">|</p>
      <p><a>Recipes</a></p>
      <p class="glyph">|</p>
      <p><a>FAQ</a></p>
      <p class="glyph">|</p>
      <p><a href="https://codefactory.wien/en/contact-en/">Contact Us</a></p>
    </nav>
    <section class="SM">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </section>
    <p>&copy; Mustafa Erkam Arafat - CodeFactory2024</p>
  </footer>
</body>
