<div class="background">
  <div class="content">
    <div class="greeting">
      <h1>Hello!</h1>
      <h1>Welcome to my Portfolio!</h1>
      <hr class="hr1" />
    </div>

    <div class="name">
      <h2>Mustafa Erkam Arafat</h2>
      <hr class="hr2" />
    </div>
    <!--<div class="photo">
      <div class="image">
        <img src="/images/photo.jpg" alt="Photo" />
      </div>
    </div>-->
    <div class="timeline">
      <h4 class="text-center">Started my Journey at Codefactory</h4>
      <p class="text-center">
        (Full Stack Web Developer / 06.05.24 - 29.08.2024) <br />
      </p>
      <br />
    </div>
    <div class="course-content list">
      <h5 class="text-center">Course Content</h5>
      <br />
      <p>Front-end Web Development:</p>
      <ul>
        <li>
          Version Control (Git -GitHub)<i
            class="fa-regular p-2 fa-circle-check chck"
          ></i>
        </li>
        <li>HTML5<i class="fa-regular p-2 fa-circle-check chck"></i></li>
        <li>CSS3<i class="fa-regular p-2 fa-circle-check chck"></i></li>
        <li>JavaScript<i class="fa-regular p-2 fa-circle-check chck"></i></li>
        <li>Bootstrap<i class="fa-regular p-2 fa-circle-check chck"></i></li>
        <li>
          Project Documentation<i
            class="fa-regular p-2 fa-circle-check chck"
          ></i>
        </li>
        <li>TypeScript<i class="fa-regular p-2 fa-circle-check chck"></i></li>
        <li>Angular<i class="fa-regular p-2 fa-circle-check chck"></i></li>
      </ul>
      <br />
      <p>Back-end Web Development:</p>
      <ul>
        <li>
          SQL (MySQL)
          <i class="fa-regular p-2 fa-circle-check chck"></i>
        </li>
        <li>
          SCRUM & Requirements Engineering <span class="date">(18/07)</span>
        </li>
        <li>PHP <span class="date">(25/07)</span></li>
        <li>AJAX <span class="date">(30/07)</span></li>
        <li>Symfony PHP framework <span class="date">(14/08)</span></li>
        <li>Software Testing <span class="date">(22/08)</span></li>
        <li>Complementary skills <span class="date">(27/08)</span></li>
      </ul>
    </div>
    <div class="exam1 list">
      <h5 class="text-center">First Exam</h5>
      <p class="text-center">
        (Project Grade: <span class="chck">40/40</span> )
      </p>
      <br />
      <p class="px-4">Project Assignments:</p>
      <ul>
        <li>Usage of Flexbox/Grid <span class="yllw">(10)</span></li>
        <li>Positioning Elements&Images <span class="yllw">(10)</span></li>
        <li>Media Queries <span class="yllw">(5)</span></li>
        <li>Recipe of the Month - Page <span class="yllw">(5)</span></li>
        <li>About Page - on the Footer <span class="yllw">(5)</span></li>
        <li>GitHub Repository <span class="yllw">(5)</span></li>
      </ul>
    </div>
    <div class="exam2 list">
      <h5 class="text-center">Second Exam</h5>
      <p class="text-center">
        (Project Grade: <span class="chck">60/60</span> )
      </p>
      <br />
      <p class="px-4">Project Assignments:</p>
      <ul>
        <li>
          Priority Button =
          <i class="fa-solid fa-triangle-exclamation btnpriority"></i> - Click
          to increase priority <span class="yllw">(10)</span>
        </li>
        <li>
          Sort Button =
          <i class="fa-solid fa-arrow-up-wide-short sort"> </i> - Sort list
          items acc priority-level <span class="yllw">(10)</span>
        </li>
        <li>"Delete" and "Done" buttons <span class="yllw">(10)</span></li>
        <li>Priority level color coding <span class="yllw">(10)</span></li>
        <li>Responsive Layout with Bootstrap <span class="yllw">(5)</span></li>
        <li>Correct creation of array <span class="yllw">(5)</span></li>
        <li>Correct and well-structured code <span class="yllw">(5)</span></li>
        <li>GitHub Repository <span class="yllw">(5)</span></li>
      </ul>
    </div>
    <div class="exam3">
      <h5 class="text-center">Third Exam</h5>
      <p class="text-center">
        (Project Grade: <span class="chck">80/80</span> )
      </p>
      <br />
      <p class="px-4">Project Assignments:</p>
      <ul>
        <li>
          Cart Service functionalities - Discount, Service Charge, Total
          <span class="yllw">(10)</span>
        </li>
        <li>
          The Details component for individual products
          <span class="yllw">(10)</span>
        </li>
        <li>Add to Cart function <span class="yllw">(10)</span></li>
        <li>
          Product Layout change according to Availability
          <span class="yllw">(10)</span>
        </li>
        <li>
          Product properties with boolean 'Availability'
          <span class="yllw">(10)</span>
        </li>
        <li>Routing without refreshing -SPA <span class="yllw">(10)</span></li>
        <li>Seven components in Angular <span class="yllw">(10)</span></li>
        <li>Responsive Layout <span class="yllw">(5)</span></li>
        <li>GitHub Repository <span class="yllw">(5)</span></li>
      </ul>
    </div>
  </div>
</div>
