<div class="background">
  <div class="content">
    <div class="greeting">
      <h1>Hello!</h1>
      <h1>Welcome to my Portfolio!</h1>
      <hr class="hr1" />
    </div>

    <div class="name">
      <h2>
        <span class="flck">Mus</span>tafa Erkam A<span class="flck">ra</span>fat
      </h2>
      <hr class="hr2" />
    </div>

    <div class="photo">
      <div class="image">
        <img src="/CV-images/photo.jpg" alt="Photo" />
      </div>
    </div>
    <div class="paragraph">
      <br />
      <br />
      <h4 class="text-start">About Me</h4>
      <article>
        I am a 27-years-old expat living in Austria. Born in Ankara, Turkey, I
        came to Austria to study in 2015 when I was 18 years old. After
        finishing my German course, I started studying English and American
        Studies at the University of Vienna in 2017. <br />
        As a result of the covid pandemic in 2020, I was obliged to find
        employment in order to sustain my life in Austria. Having collected
        valuable working experiences in different branches, I acquired clear
        vision for my future and started my journey at CodeFactory in order to
        pursue a career as a Full Stack Web Developer.
      </article>
    </div>

    <div class="timeline">
      <hr class="hr2" />
      <h4 class="text-center">My Journey at CodeFactory</h4>
      <p class="text-center">
        (Full Stack Web Developer / 06.05.24 - 29.08.2024) <br />
      </p>
      <br />
    </div>
    <div class="course-content list row row-cols-2">
      <br />
      <div class="frontend text-center list">
        <p>Front-end Web Development</p>
        <ul>
          <li>
            Version Control (Git -GitHub)<i
              class="fa-regular p-2 fa-circle-check chck"
            ></i>
          </li>
          <li>HTML5<i class="fa-regular p-2 fa-circle-check chck"></i></li>
          <li>CSS3<i class="fa-regular p-2 fa-circle-check chck"></i></li>
          <li>JavaScript<i class="fa-regular p-2 fa-circle-check chck"></i></li>
          <li>Bootstrap<i class="fa-regular p-2 fa-circle-check chck"></i></li>
          <li>
            Project Documentation<i
              class="fa-regular p-2 fa-circle-check chck"
            ></i>
          </li>
          <li>TypeScript<i class="fa-regular p-2 fa-circle-check chck"></i></li>
          <li>Angular<i class="fa-regular p-2 fa-circle-check chck"></i></li>
        </ul>
      </div>
      <br />
      <div class="backend text-center">
        <p>Back-end Web Development</p>
        <ul class="ul2">
          <li>
            SQL (MySQL)
            <i class="fa-regular p-2 fa-circle-check chck"></i>
          </li>
          <li>
            SCRUM & Requirements Engineering <span class="date">(18/07)</span>
          </li>
          <li>PHP <span class="date">(25/07)</span></li>
          <li>AJAX <span class="date">(30/07)</span></li>
          <li>Symfony PHP framework <span class="date">(14/08)</span></li>
          <li>Software Testing <span class="date">(22/08)</span></li>
          <li>Complementary skills <span class="date">(27/08)</span></li>
        </ul>
      </div>
    </div>
    <div class="projects">
      <hr class="hr2" />
      <h3 class="text-center">PROJECTS</h3>
    </div>
    <div class="exam1 list">
      <h5 class="text-center"><a routerLink="/exam1">Food Blog</a></h5>
      <br />
      <p class="text-center px-4">
        My first project at CodeFactory Institute was assigned to practice the
        basics of layout design. It involves the usage of Flexbox and Grid,
        positioning elements and images effectively, and implementing media
        queries for responsive design. <br />
        <br />
        Additionally, the project includes creating a "Recipe of the Month" page
        and an "About" page featured in the footer. All the work is documented
        and managed through a
        <a
          href="https://github.com/Lothrin/FE22-EXAM-1-MustafaErkamArafat"
          target="_blank"
          >GitHub repository</a
        >.
      </p>
    </div>
    <div class="exam2 list">
      <h5 class="text-center"><a routerLink="/exam2">To-do List</a></h5>
      <br />
      <p class="text-center px-4">
        The second project is a simple to-do list page with simple button
        functionalities - a Priority Button "<i
          class="fa-solid fa-triangle-exclamation btnpriority"
        ></i
        >" to increase priority level (and color coding accordingly), a Sort
        Button "<i class="fa-solid fa-arrow-up-wide-short sort"> </i>" to sort
        list items by priority, and "Delete" and "Done" buttons. <br />
        <br />
        Additional requirements were a responsive using Bootstrap, and the
        correct creation of arrays and well-structured code. All work is
        documented and managed through a
        <a
          href="https://github.com/Lothrin/FE22-EXAM-2-MustafaErkamArafat"
          target="_blank"
          >GitHub repository</a
        >.
      </p>
    </div>
    <div class="exam3 list">
      <h5 class="text-center"><a routerLink="/exam3">E-Commerce</a></h5>
      <br />
      <p class="text-center px-4">
        This project is an example of an e-commerce website. It involves "Add to
        Cart" function, cart service functionalities including discount(if over
        40Euros), service charge, and total calculations. <br />
        <br />
        Other tasks included the Details component for individual products,
        setting product properties with a boolean 'Availability' and changing
        product layout based on availability, enabling routing without
        refreshing the page (SPA). The project required the creation of seven
        components in Angular, a responsive layout, and documentation in a
        <a
          href="https://github.com/Lothrin/FE22-EXAM-3-MustafaErkamArafat"
          target="_blank"
          >GitHub repository</a
        >.
      </p>
    </div>
    <div class="exam4">
      <h5 class="text-center"><a routerLink="/exam4">Team Project</a></h5>
      <br />
      <p class="text-center px-4">
        Team Project at the end of the Front-End part of the course, features an
        alumni website for CodeFactory consisting of five sections: "Home",
        "Alumni Directory", "Stories", "Careers", and "Events". The sections are
        pretty much self-explanatory. <br />
        <br />
        The aim was to encourage cooperation and teamwork with clear
        organisation, division of roles, communication and collective repository
        work through GitHub.
      </p>
    </div>
  </div>
</div>
